* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

window#waybar {
    background-color: #2d353b;
    color: #d3c6aa;
}

#workspaces button {
    padding: 0 8px;
    color: #d3c6aa;
    background-color: transparent;
}

#workspaces button.active {
    color: #a7c080;
    background-color: #232a2e;
    border-radius: 5px;
}

#clock, #battery, #network, #pulseaudio {
    padding: 0 10px;
    color: #d3c6aa;
}

#battery.warning {
    color: #dbbc7f;
}

#battery.critical {
    color: #e67e80;
}
