window {
    background-color: #2d353b;
    border: 2px solid #a7c080;
    border-radius: 10px;
}

#input {
    margin: 5px;
    padding: 8px;
    color: #d3c6aa;
    background-color: #232a2e;
    border-radius: 5px;
    border: none;
}

#entry:selected {
    background-color: #3d484d;
    border-radius: 5px;
}

#entry:selected #text {
    color: #a7c080;
}

#text {
    color: #d3c6aa;
}
